.code-with-download {
    position: relative; /* Make sure the parent container is positioned */
  }
  
  .download-button {
    background-color: #403d3d; /* Blue button color */
    color: #f8f8f2;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10; /* Make sure it's above the code */
  }
  
  .download-button:hover {
    background-color: #2d2b2b; /* Darker blue on hover */
    color: #c5c592;
  }
  
  .download-link {
    text-decoration: none; /* Remove underline */
  }
  
  .code-with-download a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  